$box_sh1: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box_sh2: 0 10px 30px rgba(0, 0, 0, 0.35), 0 6px 6px rgba(0, 0, 0, 0.4);


$col_blk4: #616161;
$col_blk5: #263238;


$col_main1:#d1c4e9;
$col_main3: #9575cd;

$col_main6:#5e35b1;

$col_main9: #311b92;


$font: "Roboto", sans-serif;
$trans_all: all linear 0.3s;

